keystore.properties
*.jks
*.keystore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore and Certificates
*.pem
*.zip
*.p12

# Build Artifacts
*.apk
*.aab
*.jar
